/* @import url(); */
/* Note: The @import rule is used to import style rules from other style sheets. 
   If you're not importing any external style sheets, you can remove this line. */

   body {
    /* Background and layout */
    background-color: #a39bd2;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494a4b;
    font-family: "gochi hand", cursive;
    text-align: center;
    font-size: 130%;
}

/* Media query for screen width */
@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.container {
    /* Container styling */
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 500px;
    background: #f1f5f8;
    background-color: radial-gradient(#bfc0c1 7.2%, transparent 0);
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
}

.heading {
    /* Heading styling */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading_title {
    /* Title styling */
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20%; /* Adjust the border-radius as needed */
}
input{
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    margin-left: 5px;
}
 button{
    border: none;
    border-radius: 20px;
    background: #5142a7;
    padding: 10px;
 }

 